# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.cfg
db.ini
deploy_key_rsa
# Installer logs
pip-log.txt
pip-delete-this-directory.txt


# PyBuilder
target/